// @import url('https://fonts.googleapis.com/css?family=Fjalla+One');

header {
    // font-family: "Fjalla One" !important;
    border: 1px solid #31240d;
    background-color: $black;
    text-transform: uppercase;
}